<%- layout('layout') %>

<div class="container">
    <div class="col-lg-6">
        <% for(var i =0; i< foundCart.items.length; i++){%>
        <div class="list-group">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-md-3">
                        <span><img src="<%= foundCart.items[i].item.image %>" class="product-image"></span>
                    </div>
                    <div class="col-md-6">
                        <p class="list-group-item-heading"> <%= foundCart.items[i].item.name %></p>
                    </div>

                    <div class="col-md-3">

                        <p><%= foundCart.items[i].quantity %></p>
                        <p>R <%= foundCart.items[i].price %></p>
                    </div>
                </div>
            
            </div>
        
        </div>


        
        <%}%>
    
    </div>

</div>